<div class="row">
	<div class="nine columns">
		<div class="post">
      << <%= link_to "Back", :back %>
			<h1><%=@project.title%></h1>
      <p>
        <strong>Languge:</strong> <%=@project.language%><br>
        <strong>Developed:</strong> <%=@project.developed_date%><br>
        <% unless @project.link.empty? %>
          <strong>Link:</strong> <%=link_to @project.link, @project.link, :target => '_blank'%>
        <% end %>
      </p>

			<%=simple_format @project.description%>
		</div>

    <ul id="uploads" class="block-grid three-up" data-clearing>
      <% @project.uploads.each do |upload|%>
        <li class="upload"><%= link_to image_tag(upload.avatar(:medium), :style => "height:150px"), upload.avatar(:original)%></li>
      <% end %>
    </ul>
	</div>
	<div class="three columns">

	</div>
</div>
